.link {
  text-decoration: none;
  color: $dark;
  font-size: $font-sm;
  line-height: $lh-sm;
  &:hover {
    text-decoration: underline;
  }
}
.button {
  min-width: 118px;
  padding: 14px 0;
  font-size: $font-sm;
  line-height: $lh-sm;
  color: $white;
  background-color: $dark-brown;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: $light-brown;
  }
  &:focus {
    outline: none;
  }
  &-basket {
    background-color: $brown;
  }
  & span {
    color: $white;
  }
}
.input {
  width: 416px;
  padding: 12px 16px;
  margin: 0;
  font-size: $font-sm;
  line-height: $lh-sm;
  color: $grey;
  background-color: $light;
  border: 1px solid $line-grey;
  &::placeholder {
    color: $grey;
  }
}