//variables of color
$white: #FFFFFF;
$light: #F6F3F3;

$line-grey: #E1E1E1;
$light-grey: #ECEAEA;
$grey: #A0A0A0;
$dark-grey: #555555;

$lighter-brown: #C1B4B1;
$light-brown: #776763;
$brown: #5B3A32;
$dark-brown: #403432;

$dark: #343030;

//variables of font size
$font-xl: 24px;
$font-lg: 18px;
$font-md: 16px;
$font-sm: 14px;

//variables of line height
$lh-xl: 36px;
$lh-lg: 27px;
$lh-md: 24px;
$lh-sm: 21px;